cflib @ git+https://github.com/leeebo/crazyflie-lib-python.git@a430283a3b608db7c0b3227aa37d7120858c25ef
drone==0.3.0
future==1.0.0
importlib_resources==6.4.5
libusb-package==1.0.26.2
network==0.1
numpy==1.26.4
pandas==2.2.3
pycrypto==2.6.1
pygame==2.6.1
python-dateutil==2.9.0.post0
pytz==2024.2
pyusb==1.2.1
scipy==1.14.1
six==1.17.0
tzdata==2024.2
